@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #024189;
  color: #000;
}

a {
  color: unset;
  text-decoration: none;
}