@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #024189;
  color: #000;
}

a {
  color: unset;
  text-decoration: none;
}

header {
  height: 220px;
  background: linear-gradient(180deg, #000 0%, #024189 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsmeta-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dsmeta-header img {
  width: 235px;
}

.dsmeta-header h1 {
  margin-top: 15px;
  font-size: 24px;
  color: #fff;
}

.dsmeta-header p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

#sales {
  padding-top: 40px;
  padding-inline: 5%;
}

.dsmeta-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.dsmeta-card {
  background-color: white;
  border-radius: 10px;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-inline: 3%;
}

.dsmeta-card-title {
  color: #001c5b;
  font-size: 24px;
  margin-bottom: 20px;
}

.dsmeta-form-input-container {
  margin-bottom: 16px;
  max-width: 300px;
}

.dsmeta-form-input {
  height: 46px;
  width: 100%;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  padding-inline: 2%;
  font-size: 18px;
}

.dsmeta-table {
  width: 100%;
  border-spacing: 0;
  /* border-radius: 10px; */
  border-collapse: collapse;
}

.dsmeta-table thead{
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  background-color: #a0a0a0;
}

.dsmeta-table tbody{
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.dsmeta-table tbody tr{
  height: 74px;
  border-top: 1px solid #a0a0a0;
}

.dsmeta-table tbody tr:hover > td{
  background-color: #d1d1d1;
}

/* .dsmeta-table tbody tr:nth-child(odd){
  background-color: #d1d1d1;
} */

.dsmeta-red-btn-container {
  display: flex;
  justify-content: center;
}

.dsmeta-red-btn {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  border: 1px solid #FF6B72;
  background: rgba(255, 107, 114, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dsmeta-mediumdisplay-content {
  display: none;
}

.dsmeta-largedisplay-content {
  display: none;
}

@media (min-width: 576px) {
  .dsmeta-mediumdisplay-content {
    display: table-cell;
  }

  .dsmeta-card {
    padding-inline: 5%;
  }

  .dsmeta-table tbody{
    font-size: 18px;
  }

  .dsmeta-table tbody tr{
    height: 62px;
  }
}

@media (min-width: 992px) {
  .dsmeta-largedisplay-content {
    display: table-cell;
  }
}